# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\workPlace\Log4j2LocalDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
